div {
    width: 800px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
    text-align: center;
    left: 50%;
    margin-left: 350px;
  }

  body {
	background-image: url('13.jpg');
}

p {
	text-align: justify;
	font-family:"Comic Sans MS", cursive, sans-serif;
	margin-bottom: 60px;
	margin-right: 220px;
	
}

h1 {
	font-family: "Comic Sans MS", cursive, sans-serif;
	background-color: #7F7979;
	padding: 20px;
	color: white;
}

h2 {
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: left;
	background-color: #C1BDB3;
	color: #7F7979;
}